body {
  background-color: #ebeef0;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #0072cf;
}

a:hover {
  text-decoration: underline;
}

header {
  color: #666;
  display: flex;
  justify-content: flex-end;
  padding: 0 25px;
}

button {
  color: white;
  font-size: 14px;
  background-color: #0072cf;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

header button {
  margin: 5px;
  padding: 7px 25px;
}

section {
  background-color: red;
}

input {
  width: 80%; 
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 30px;
}

footer {
  margin-top: 25px;
  text-align: center;
}

footer ul {
  margin-bottom: -5px;
}

footer li {
  display: inline-block;
  list-style-type: none;
  margin: 15px;
}

footer a {
  font-size: 12px;
  color: #555;
}

footer p {
  margin-top: -3px;
  color: #555;
  font-size: 12px;
}

.form-header {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1;
}

.form-header h2 {
  font-size: 24px;
}

.form-header p {
  padding-top: 20px;
}

.logo {
  height: 25px;
  margin: 0 5px;
}

#sign-in-prompt {
  justify-content: center;
  margin-top: -10px;
  margin-right: 5px;
  text-align: right;
  font-size: 12px;
  line-height: 1;
}

#brand-container {
  text-align: center;
  padding: 10px;
}

#intuit-brand {
  width: 120px;
}

#logo-container {
  margin-bottom: 20px;
  text-align: center;
}

#logo-container span {
  color: #666;
  display: inline-flex;
  align-items: center;
}

#form-container {
  margin: auto;
  color: #555;
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  width: 375px;
}

#form-header {
  padding-top: 10px;
}

#form-header h2 {
  font-weight: 10;
}

#form-header h5 {
  font-weight: 5;
  margin-bottom: -1px;
}

#form-header a {
  font-weight: 5;
  font-size: 14px;
}

#form-container button {
  margin: 5px;
  padding: 7px;
  width: 87%;
  border: none;
  margin: 15px;
}

#form-container em {
  margin: 10px;
  font-size: 12px;
  line-height: 1;
}

#sign-up-form label {
  float: left;
  margin: 10px;
  margin-left: 25px;
  font-size: 14px;
}

#sign-up-form p {
  margin-left: 25px;
  margin-top: -25px;
  text-align: left;
  font-size: 10px;
}

#form-footer {
  margin-top: 25px;
  color: #8f8f8f;
  padding: 25px;
  background-color: #ebeef0;
  font-size: 10px;
}